includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - bin/phpstan-ignore-by-sw-version.php

parameters:
    level: 4
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    symfony:
        constantHassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        containerXmlPath: '%ShopwareRoot%%ShopwareHashedCacheDir%/%ShopwareKernelClass%DevDebugContainer.xml'
    scanDirectories:
        - %ShopwareRoot%/vendor
        - %ShopwareRoot%/src
