{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}


{% block component_offcanvas_cart %}
    {{ parent() }}

    {% set easycredit = page.extensions.easycredit %}
    {% if easyCreditAvailablePaymentTypes(context) and easycredit.widgetEnabled %}
    <script class="easycredit-config" type="application/json">{{ {
        'widget-selector': easycredit.widgetSelector,
        'amount': easycredit.amount
    }|json_encode|raw }}</script>
    {% endif %}

{% endblock %}

{% block component_offcanvas_cart_actions_checkout %}
    {{ parent() }}

    {# @var easycredit #}
    {% set easycredit = page.extensions.easycredit %}

    {% if easycredit.expressCartEnabled %}
    
    {# evaluate paymentTypes as separate condition to avoid evaluation when other conditions are not matching #}
    {% set paymentTypes = easyCreditAvailablePaymentTypes(context, product) %}
    {% if paymentTypes %}

        <div class="d-block" style="margin: 10px 0;">
            {% sw_include '@EasyCreditRatenkauf/storefront/component/express-button.html.twig' with {fullWidth: true, paymentTypes: paymentTypes} %}
        </div>
    {% endif %}
    {% endif %}
{% endblock %}
